/*
#	CUSTOM STYLES MADE BY ANGEL ANGELES III
#	ALL CUSTOM STYLES NOT MADE BY AUTOMATTIC LIVE HERE
*/

* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

/* DEVELOPER COLORS FOR EASIER VIEWING */


/* CONTAINERS AND WRAPPERS */

.wrapper {
	margin: 0 auto;
	width: 100%;
	max-width: 1280px;
}

/* TEXT AND LINK */

body p {
	font-family: 'Hind', 'Arial', 'Helvetica', sans-serif;
}

a,
a:link,
a:visited {
	text-decoration: none;
	color: #935555;
}

a:hover {
	color: #B37272;
}

.site-title {
	margin: 20px 0 0 0;
}

h1, p {
	font-family: 'Hindi', 'Arial', 'Helvetica', sans-serif;
}





/* LAYOUT */
body {
	background: #F0F5F4;
}

.site-content {
	position: relative;
}

.p-content-position {
	margin-top: -150px;
}

header.site-header {
	background: url('assets/images/mainbg.jpg');
	background-size: cover;
	background-position: center center;
	background-attachment: fixed;
	background-repeat: no-repeat;
	color: #FFFFFF;
	height: 600px;
	text-align: center;
	padding: 30px 0;
	position: relative;
	margin-bottom: 10px;
}

header.site-header .site-title {
	margin: 150px 0 0;
}

header.site-header .site-title a:link,
header.site-header .site-title a:hover,
header.site-header .site-title a:visited {
	color: #FFFFFF;
	font-family: 'Hind', 'Arial', 'Helvetica', sans-serif;
	font-size: 4rem;
	font-weight: 300;
	text-shadow: 0px 3px 3px rgba(0,0,0,0.7);
}

header.site-header p.site-description {
	font-family: 'Hind', 'Arial', 'Helvetica', sans-serif;
	font-size: 1.25rem;
	margin: 0;
}


header.site-header nav.main-navigation {
	text-align: center;
	background-color: #FFFFFF;
	position: fixed;
	top: 0;
	z-index: 999;
	border-bottom: 3px solid #E0E0E0;
}

nav.main-navigation ul.nav-menu li a:link,
nav.main-navigation ul.nav-menu li a:visited {
	background: #FFFFFF;
	margin: 0;
	padding: 20px 10px;
	color: #595959;
	text-transform: uppercase;
	font-weight: 600;
	border-bottom: 0px solid #A65A77;
	-webkit-transition: all 0.2s ease;
	-moz-transition: all 0.2s ease;
	-ms-transition: all 0.2s ease;
	-o-transition: all 0.2s ease;
	transition: all 0.2s ease;
}

nav.main-navigation ul.nav-menu li a:hover {
	background: #737373;
	color: #FFFFFF;
}

.main-navigation ul.nav-menu > li.page_item_has_children > a:after {
	content: '\0025bc';
	margin-left: 10px;
	font-size: 0.8rem;
}

.post {
	background: #FFFFFF;
	padding: 50px;
	margin: 10px;
	border: 1px solid #E0E0E0;
	border-radius: 3px;
	-webkit-box-shadow: 0 2px 1px rgba(0,0,0,0.1);
	box-shadow: 0 2px 1px rgba(0,0,0,0.1);
}

.post h2.entry-title {
	font-family: 'Bitter', 'Palatino Linotype', 'Book Antiqua', Palatino, serif;
	font-size: 2em;
	margin: 0;
}

.widget-area {
	background: #FFFFFF;
	padding: 15px;
	margin-top: 10px;
	border: 1px solid #E0E0E0;
	border-radius: 3px;
	-webkit-box-shadow: 0 2px 1px rgba(0,0,0,0.1);
	box-shadow: 0 2px 1px rgba(0,0,0,0.1);
	/*margin: 10px;*/
}